@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-blue-600: hsl(231, 69%, 60%);
  --primary-red-400: hsl(0, 94%, 66%);

  --neutral-grey-50: hsl(0, 0%, 97%);
  --neutral-blue-950: hsl(229, 31%, 21%);

  --font-size: 18px;
  --font-family: "Rubik", sans-serif;
}

body {
  font-family: var(--font-family);
}

/* .navbar.active { */
/*   background-color: var(--neutral-blue-950); */
/* } */
/**/
/* .navlist.inactive { */
/*   max-height: 0; */
/*   overflow: hidden; */
/*   padding: 0; */
/* } */

@media (prefers-reduced-motion: reduce) {
  .navlist,
  .navbar,
  .line {
    transition: none;
  }
}
