@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --primary-blue-600: hsl(231, 69%, 60%);
  --primary-red-400: hsl(0, 94%, 66%);

  --neutral-grey-50: hsl(0, 0%, 97%);
  --neutral-blue-950: hsl(229, 31%, 21%);

  --font-size: 18px;
  --font-family: "Rubik", sans-serif;
  --btn-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --illustration-shadow: 30px 30px 0 rgba(0, 0, 0, 1);

  --max-width: 82.5rem;
}

body {
  font-family: var(--font-family);
}

@theme {
  --animate-ease: appear 0.3s ease-out;
  --animate-side: side 0.8s ease-out;
  --animate-progress: timer 5000ms linear;

  @keyframes appear {
    from {
      transform: translateY(1rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes side {
    from {
      transform: translateX(-1rem);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes timer {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .navlist,
  .navbar,
  .line {
    transition: none;
  }
}
